<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 实体对象映射 -->
    <typeAliases> 
    <!--  
          <typeAlias alias="GroupLinkman" type="com.kuyu.model.GroupLinkman"/>
     -->   
    </typeAliases> 

</configuration>